.nav-wrapper{
    background: #fff;
    min-height: 112px;
    position: relative;
    color: #000;
    width: 100%;
    z-index: 6;
}
.nav-container{
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #fff;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 16%);
}
.navbar{
    position: -webkit-sticky;
    position: sticky;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    max-width: 1280px;
    color: #212121;
    width: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}
.nav-child-wrapper{
    padding: 12px 8px;
    text-align: center;
    cursor: pointer;
}
.nav-child-wrapper:first-child{
    padding-left: 22px;
}
.nav-child-wrapper:last-child{
    padding-right: 24px;
}
a{
    text-decoration:none;
}
.nav-image-container{
    margin-bottom: 4px;
    height: 64px;
    width: 64px;
    position: relative;
}
.nav-image{
    opacity: 1;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}
.nav-text{
    font-weight: 500;
    font-size: 14px;
    color: #212121;
    line-height: 1.4;
}
.nav-text:hover{
color: #2874f0;
}
.nav-menu-container{
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.categories-link{
    
    line-height: 1.4;
    font-family: Roboto,Arial,sans-serif;
    letter-spacing: 0;
    cursor: pointer;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: absolute;
    min-width: 240px;
    color: #212121;
    font-size: 14px;
    font-weight: 400;
    border-color: #f0f0f0;
    text-align: left;
    z-index: 19;
    transition: opacity .3s ease-in-out;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    box-shadow: 0 4px 16px 0 rgba(0,0,0,.2);
    
    right: 50%;
    transform: translateX(50%);
    animation: _1OMYGl .3s ease forwards;
    border-radius: 3px;
    max-width: 500px;
    background: #fff;
    display: block;
}
.categories{
    
    line-height: 1.4;
    font-family: Roboto,Arial,sans-serif;
    letter-spacing: 0;
    cursor: pointer;
    color: #212121;
    font-size: 14px;
    font-weight: 400;
    text-align: left;
    visibility: visible;
    pointer-events: auto;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 0;
    height: 0;
    border: solid transparent;
    position: absolute;
    bottom: 100%;
    border-bottom-color: #f0f0f0;
    border-width: 10px;
    left: 50%;
    transform: translateX(-10px);
}

@media only screen and (max-width: 600px) {
    .nav-container{
        box-shadow: none;
        overflow-x: auto;
    }
}